
   
            *{
                margin:0;
                padding:0;
                box-sizing:border-box;
           }
            
            body{
                min-height:100vh;
            }
            html{
                font-size:68.5%;
                font-family:Arial;
              user-select:none;
                scroll-behavior:smooth;
               
            }
            
            
            main{width:100vw;
                min-height:100vh;
               
             
                overflow: hidden;
            }
                
            
            header{
                width:100%;
                height:20vh;
                display:flex;
                justify-content:space-around;
          align-items:center;
          padding:2rem;
         position:sticky;
         top:0;
         background:#f8f8f8;
         z-index:100;
 }   
 
 
 .brand_logo{
     width:30%;
     font-size:4.8rem;
     display:flex;
     align-items:center;
     font-weight:bold;
background:linear-gradient(45deg, #cc88bb 0%,#e6683c 25%,#de789b 50%,#3498db 75%,#cc88de 100%);
-webkit-background-clip:  text;
-webkit-text-fill-color: transparent;
font-family:Georgia;
letter-spacing:-.4rem;
    
 }
  
 
 

 header nav{
     width:40%;
     display:flex;
     justify-content:space-around;
     align-items:center;
    font-size:1.8rem;
    text-transform:uppercase;
 }
 
 header nav a{
     position:relative;
 }
 
 
 .homeanchor{
     font-weight:bold;
 }
 
 header nav a:hover{
     font-size:2.2rem;
    font-weight:bold;
 }
 
 header nav a::before{
     content:'';
     position:absolute;
     bottom:0;
     border: .1rem solid #db98db;
     width:0;
     transition:all .2s linear;
     opacity:0;
 }
 
 header nav a:hover::before{
     width:75%;
     opacity:1;
 }
 

     
   .fa-bars{
           display:none;
       }
       
       .mobile-nav{
           display:none;
       }
       
       
       .slidernavbar{
           display:block;
       }
       
       .slida{
            display:flex!important;
       }
      
    
    
    .active{
      font-weight:bold;
    }



@media screen and (max-width: 768px) {
    html{
     font-size:38%!important;
     height:100%;
 }
 
 

 
 .video-responsive{
     height:65%;
 }
 
 
 header{
     height:15vh;
 }
 

 .background{
     height:80vh;
 }
 
 
 .brand_logo{
     width:auto;
     margin-left:auto;
     display:flex;
     justify-content:center;
     align-items:center;
 }
 

header nav { 
    position:absolute;
 top:0;
 left:0;
     width:50%;
    height:100vh;
    background:#f3f3f3;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    display:none;
    
    transition:all 2s linear!important;
 }
 
 

 
header nav a{
     display:none;
 }
 
 
 

 .mobile-nav{
     position:absolute;
     top:80%;
     left:5%;
     display:block;
     display:flex;
     justify-content:space-around;
    
     flex-direction:column;
     font-size:3.2rem;
     display:none;
 }
 
 .mobile-nav a{
     padding:1.2rem;
     margin-top:1rem;
     
 }
 


 .fa-bars{
     font-size:3rem;
     display:block;
     padding:2rem;
     position:absolute;
     left:5%;
     z-index:1000;
 }
    
    


   .gotop {
   width:10rem;
   padding:1rem;
   background:#3498db;
   display:flex;
   justify-content:center;
   align-items:center;
   position:fixed;
   left:5%;
   z-index:100;
   border-radius:.5rem;
   font-size:3rem;
   color:#fefefe;
   }
  
 
    
    #footerbar{
        height:10vh;
       
    }
    
    .socialicons{
        font-size:1.5rem;
        padding:2rem;
        display:flex;
        justify-content:space-around;
        align-items:center;
    }
    

    

    .preloader{
        font-size:2rem!important;
    }
    
.movie-result{
    width:100vw;
    margin-top:5rem;
    padding:2rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}
    
    .responsive_poster{
        flex-basis:50%!important;
        padding:3rem;
        display:flex;
        justify-content:center;
        align-items:center;
         }
   
 
   .movie-result img{
       width:35rem!important;
       height:70%;
       background:100% 100%;
       object-fit:cover;
      
   } 
 
 
   .ticket_room{
       width:100%;
       min-height:100vh;
       background:#fff;
       position:absolute;
       top:20%;
       display:flex;
       justify-content:space-around;
       align-items:center;
       flex-wrap: wrap;
       padding-bottom:5rem;
   }
   
   .ticket_card{
       flex-basis:80%!important;
       padding:2rem;
       background:#777;
       
   } 
    
}
   /*responsive*/  
    a{  text-decoration:none;
        color:#000;
    }

   .preloader{width:100vw;
      height:100vh;
      background:#fff url('prloader/load1.gif') no-repeat center;
      background-size:55%;
     
       font-size:3rem;
       z-index:101;
     position:fixed;
       top:0!important;
    }
    
    
 .search_movie{
     width:100%;
     padding:3rem;
     display:flex;
     justify-content:space-around;
     align-items:center;
     position:relative;
     margin-bottom:5rem;
 }
 
 .search_movie .search{
     width:83vw;
     padding:1.7rem;
     font-size:2.5rem;
     border-radius:.8rem;
     position:absolute;
     left:8%;
     background:333;
     border:none;
     box-shadow:0 0 .3rem .2rem rgba(0,0,0,.2);
     text-align:center;
 } 
    

.movie-result{
    width:100vw;
   
    
    margin-top:8rem;
    padding:2rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;

}
    
    .responsive_poster{
        flex-basis: 30%;
        padding:2rem 0px;
        font-size:2.4rem;
       background:#f7f7f7;
       margin:2rem 1rem;
    }
    
    figcaption{
        font-weight:bold;
    }
    
    .responsive_poster h4{
        font-weight:300;
        font-size:2rem;
    }
 
 .movie_div{
     width:100%;
     padding:1rem 3rem;
     display:flex;
     justify-content:center;
     align-items:center;
     flex-direction:column;
 
 }
 
 
   .movie-result img{
       width:15rem;
      
       background:100% 100%;
       object-fit:content;
       margin-bottom:1.2rem;
   } 
   
   .bookbtn{margin:1rem 0;
       padding:1rem 2.5rem;
       border:none;
       background:#893734;
       color:#fff;
       font-size:2rem;
       text-transform:capitalize;
       border-radius:.5rem;
   }
   
   .name{
       width:100%;
       padding:2rem;
       font-size:2.5rem;
       font-weight:bold;
       margin-left:3rem;
   }
   
   
   .ticket_room{
       width:100%;
       
     
       position:absolute;
       top:15%;
       display:flex;
       justify-content:space-around;
       align-items:center;
       flex-wrap: wrap;
   }
 
    .container{
                min-height:80vh;
                background:#222;
                flex-basis:50%;
                margin-top:5rem;
                box-sizing:border-box;
              display:flex;
              justify-content:space-around;
               align-items:center; 
              flex-direction:column; 
              padding:2rem;
            }
            
       .ticket-left{
                flex-basis:50%;
                width:60vw;
                height:100%;
                position:relative;
                padding-bottom:2rem;
                background:#fff;
              border-top-left-radius:.6rem;
              border-bottom-left-radius:.6rem;
             
             overflow:hidden;
             border-right:.2rem dashed #888;
             
            }
            
            .brand_name{
                width:30%;
                font-size:1.3rem;
                background:#f8f8f8;
               padding:1rem;
     
            } 
            
            .brand_name h3{
background:linear-gradient(45deg, #cc88bb 0%,#e6683c 25%,#de789b 50%,#3498db 75%,#cc88de 100%);
-webkit-background-clip:  text;
-webkit-text-fill-color: transparent;
font-family:Georgia;
            }
           
           
       .movie_name , .booking_id {
           width:40%;
           padding:.5rem 0rem;
           background:red;
          display:flex;
          justify-content:space-around;
          align-items:center;
          text-align:left;
          
       }
       
      
       .right-img{
           padding:2rem;
           background:pink;
       }
       
       .seat_time{
           width:100%;
           display:flex;
           justify-content:space-around;
           align-items:center;
       }
       
    
    h4{
        text-align:left!important; 
        }
      
      .qrcode img{
          width:7rem;
          height:7rem;
      }
     @media screen and (max-width:768px){
                

         
              
              .brand_name{
                  font-size:.9rem;
              }  
              
              .brand_logo{
                  width:70%;
                  letter-spacing:0;
              }
                .container{
                    flex-basis:80%;
                    height:20rem;
                    display:flex;
                    margin:1rem;
                    z-index:5;
                    z-index:5;
                    font-size:1.2rem;
                    padding-bottom:1rem;
                }
                
               .ticket_room{
                   min-height:100vh;
               } 
                
                .ticket-left{
                    width:80vw;
                    padding-bottom:1rem;
                }
        
            
            
            .left-right{
                width:100%;
                height:15vh;  
                flex-wrap:wrap;
                display:flex;
            justify-content:space-around;
            align-items:center;
            }
            
               .tic-lef{
                width:100%;
                
                padding:6rem .5rem;
                display:flex;
                justify-content:space-around;
                align-items:left;
                flex-direction:column;
               position:relative;
               z-index:10;
               
               
            }
            
    
            .title , .Sno{ 
                font-weight:500!important;
                padding:.6rem .2rem;
               transform:translateY(-5.6rem);
            }
          
         .kra , .Sno{
              color:#000;
              font-size:1.5rem;
              font-weight:bold!important;
          }
          
          .kra{
              font-size:2rem;
          }
          span {
              text-transform:uppercase;
              color:#888;
          }  
        
        
     .qrcode{
               width:8rem;
               height:5rem ;
               padding:4rem;
         position:absolute;
         top:2%;
         right:12%;
           } 
           
           .qrcode img{
               width:10rem;
               height:10rem;
               object-fit:cover;
           }
          
          .navbar{
              width:100vw;
              padding:2rem;
              height:10vh;
              background:#f9f9f9;
              position:sticky;
              top:0%!important;
              z-index:10;
              display:flex;
              justify-content:center;
              align-items:centet;
              font-size:3rem;
              margin-top:2rem;
          }
   
   .card-body{
       font-size:1em;
   }  
        
            } 
           
  
  .userdashboard{
      width:100%;
      min-height:100vh;
     
      position:absolute;
      top:-10%;
  }    
   
   .dashboard{
       width:100%;
       padding:5rem;
      background:#f9f9f9;
    
       position:absolute;
       top:15%;
       display:flex;
       justify-content:space-around;
       align-items:center;
       flex-direction:column;
   }
   
   .responsiveImg{
       width:100%;
       padding:1rem;
       display:flex;
       justify-content:center;
       align-items:center;
       margin-top:5rem;
   }
   
   .responsiveImg img{
       width:15rem;
       height:15rem;
       border-radius:50%;
      object-fit:cover;
      margin-bottom:2rem;
   }
   
   .username{
       margin-bottom:1rem;
       width:90vw;
       padding:2rem;
       text-align:left;
       display:flex;
       justify-content: space-between;
     align-items:center;
     
   }
   
   .username label{
       font-size:2.5rem;
       color:#666;
       font-weight:400;
   }
   .username h3{
       font-size:2.4rem;
       font-weight:600;
       color:#353535;
   }
   
   
      .movie_container{
          margin-top:1rem;
                width:100%;
                min-height:100vh;
                background:#fff;
                display:flex;
                justify-content:space-around;
               align-items:center; 
               padding:2rem;
               padding-bottom:1rem;
               flex-wrap: wrap;
            }
            
            .card{
               padding-bottom:5rem;
                min-height:35rem!important;
                box-shadow:0 0 .3rem .2rem rgba(0,0,0,.2);
                flex-basis:30%;
                display:flex;
                justify-content:space-around;
           align-items:center;
           flex-direction:column;
           margin-bottom:5rem;
           background:#fff;
           position:relative;
           overflow:hidden;
           
            }
            
         .card   .title{ font-size:1.6rem;
                margin:2rem 0px;
            }
       
       .title{
           font-size:1.7rem!important;
           color:#676767;
           margin-top:8rem!important;
       }     
            .movie_poster{
                width:100%;
                height:30rem;
              
                margin-bottom:1rem;
                display:flex;
                justify-content:center;
                align-items:center;
            }
            
            .movie_poster img{
             width:100%;
             height:100%;
              object-fit:content;
              background-size:100% 100%;
            }
            
          .card  .header h3{
               font-size:2.5rem;
            }

        
            
            
            
          @media screen and (max-width:768px){
            

            .card{
                
               
                padding-bottom:3rem;
                flex-basis:80%;
                display:flex;
                justify-content:space-around;
           align-items:center;
           flex-direction:column;
           margin:5rem;
           
            }
       
         .card   .title{ font-size:2rem;
                margin-top:5rem;
            } 
           
            .movie_poster{
            
                height:35rem;
               
                margin-bottom:1rem;
                display:flex;
                justify-content:center;
                align-items:center;
               
            }
            
  .seatno{
    
      flex-basis:20%;
      margin:1rem .5rem;
   /*background:#ff3498;*/
  
   display:flex;
   justify-content:center;
   align-items:center;
  }
  
  .seatno button{
      width:8rem!important;
      font-weight:bold;
      border:none;
      color:#fff;
      font-size:2rem!important;
  }
        
      
            
         
  
  .booking_window{
      width:10vw;
      min-height:100vh;
      background:red;
      z-index:-10;
      position:absolute;
      top:-60%;
      
  }
  
  
  .card:hover  .booking_window{
      position:absolute!important;
      top:0%!important;
      z-index:10!important;
      width:100%;
  }
  

  
 /* .booking_windowConterShow{
      position:absolute;
      width:100%;
      min-height:50vh;
      top:0;
      
      background:red;
      
  }
  
  */
  
  
  .book_seat{
    min-width:100%;
     background:#fff;
     display:flex;
     justify-content:space-around;
     align-items:center;
    flex-wrap:wrap;
    
  }
  
  

  .seatno{
    
      flex-basis:20%!important;
      margin:1rem .5rem;
   /*background:#ff3498;*/
  
   display:flex;
   justify-content:center;
   align-items:center;
  }
  
  .seatno button{
      width:3rem;
      font-size:1rem;
      font-weight:bold;
      text-align:center;
      border:none;
      color:#fff;
      
  }
  


.seatno button:hover{
    background:#999;
}
   

 .booked{ 
      background:#34db11;
 }
 

 
.book_seat {
   padding:5rem; 
    display:flex;
    background:#232323;
    justify-content:space-around;
    align-items:center;
   /* padding: 1rem 2rem 1rem .5rem;*/
   flex-wrap: wrap;
 }
 
 
 
 
    
 
 .resp_radio{
     width:100%;
   flex-basis:15%;
   padding:.5rem;
   background:#898989;
     display:flex;
     justify-content:space-around;
     flex-direction:column;
   align-items:center; 
   margin-bottom:5rem!important;
 }
   


 input[type="radio"]{
    opacity:0;
 }
 input[type="radio"]:checked{
   display:none; 
   
 }

 input[type="radio"]:checked + h3{
     background:#2389db;
     padding:.6rem;
     color:#fff;
     font-size:1.2rem;
     border-radius:1rem;
     display:flex;
     justify-content:center;
     align-items:center;
 }
 
 .responsive_datetime{
     width:100%;
     display:flex;
     justify-content:space-around;
     align-items:center;
   flex-direction:column;
 }
 
 .responsive_datetime input{
     width:50%;
     
 }
 
 .responsive_datetime .ShowTime{
     width:100%;
     margin:1rem;
     display:flex;
     justify-content:space-around;
     align-items:center;
 }
  
  .responsive_datetime label{
      font-size:2.2rem;
      font-weight:bold;
  } 
  
  
  .Bookyourticket{
      width:85%;
      padding:2rem;
      height:6vh;
      display:flex;
      justify-content:center;
      align-items:center;
      position:absolute;
      bottom:5%;
      transform:translateY(3rem);
      
      
  }
  
   .Bookyourticket button{
       width:70%;
       border:none;
       font-size:2rem;
       border-radius:.5rem;
       padding: 1rem 2rem;
       background:#fb3400;
       color:#fff;
       transition: all .2s linear;
   }
   
   .Bookyourticket button:active{
       transform: scale(.95);
   }
   
          }
          
    .AddElement{
        background:red;
        position:absolute;
        right:10%;
        top:5%;
        padding:2rem;
    }
    
    .inputwidth{
      
        width:20rem;
        padding:2rem;
        margin-bottom:2rem;
    }
    
    .date{
        width:40rem;
        font-size:2rem;
    } 
    
    .droplist{
        width:45%;
        margin-left:1rem;
        margin-top:2rem;
    }
    
    .bigfont{
        font-size:1.8rem;
        margin-block:2rem;
        font-family:Monospace;
    }
    

    
    .fade{
        opacity:.5;
    }
    
    .movie_designrow{
        width:75vw;
        padding:2rem;
        background:#f7f7f7;
        display:flex;
        justify-content:space-between;
        align-items:center;
        font-size:1.5rem;
        color: #353535;
        text-transform:capitalize;
    }
    
    .movie_designrow h3:first-child{
        color:#595959!important;
        text-align:right!important;
        font-weight: bold!important;
    }
    
    .movie_designrow img{
        width:22rem;
        height:22rem;
        object-fit:content;
        background:#fff;
        transform:translateX(50%);
    }
    
    .nobookticket{
        font-size:2.5rem;
        padding:2rem;
        
    }
    
    .paymemt_method{
        width:80vw;
        height:50vh;
        
        border-radius:1rem;
    }
    
    .paymemt_method article{
        min-height:20vh;
        display:flex;
        justify-content:space-around;
        align-items:center;
        flex-direction:column;
    }
    
    .paymemt_method article button{
        margin:1rem;
        width:93vw;
        border-radius:.7rem;
        background: transparent;
        color:#606060;
        font-weight:600;
        border:none;
        border:.2rem solid #2fcd78;
        outline:none;
        font-size:2.3rem;
        text-transform:uppercase;
        transition:all .2s linear;
    }
    
    .paymemt_method article button:hover{
        background:#333;
        color:#fff;
        transform: scale(1);
    }
    .brandpay{
        padding:2rem;
        width:90%;
    }
    
    .paymemt_method article h3{
        font-size:2.7rem;
        padding:2rem;
        color:#fff;
        
    }
    
    .Editinfo{
       display:flex
       justify-content:space-around;
       align-items:center;
        background:#f7f7f7;
        font-size:2rem;
    }
    
    #designfile{
        width:100%;
    }
    
    
    .userprofilestyle{
        border:.4rem solid #333;
        margin-top:1rem;
    }
 
 
 .addmoneydashboard{
   width:100%;
   position:absolute;
   top:50%;
  left:0%;
   background:#f9f9f9;
   
 }
 
 
 .addmoneyform_innerbody{
   position:absolute;
   top:30%;
   width:100%;
   height:70vh;
   padding:2rem;
   background:#fdfdfd;
  box-shadow:0 0 .5rem .2rem rgba(0,0,0);
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }
 
 #addmoneyform .details{
   
   display:flex;
   justify-content:space-around;
   align-items:center;
   flex-wrap: wrap;
   padding:2rem;
   font-family:Monospace;
 }
 
 
 
 #addmoneyform .details label,  #addmoneyform  .details input , #addmoneyform  .details  button , 
 
 .paymethod{
   width:100%;
   margin-top:5rem;
   flex-basis:100%;
 }
 
 
 #addmoneyform  .details input{
   font-size:2.8rem;
   padding:1rem  2rem;
   margin-top:1rem;
   outline:none;
   border:none;
   border: .1rem solid #888;
   border-radius:.8rem;
 }

 #addmoneyform  .details label{
   font-size:2.8rem;
   font-weight:500;
   color:#343434;
   margin-bottom:1rem;
 }
 
 
 
 #addmoneyform .details button {
   margin-top:5rem;
   border-radius:.7rem;
   border:none;
   outline:none;
   background:#3498db;
   padding:2rem;
   color:#fdfdfd;
 }
 
 
 #addmoneyform .details select{
   padding:2rem 0;
 }


.hideaddmoneyform , .hideeditform , .hidepasswordform  , .hide_deleteAccountform{
  font-size:4rem;
  padding-bottom:2rem;
}


.hidepasswordform  , .hide_deleteAccountform{
  
  padding-top:2rem;
  margin-bottom:2rem;
}

.hideaddmoneyform i:active , .hideeditform i:active , .hidepasswordform i:active ,

.hide_deleteAccountform i:active
{
  transform: scale(.88);
}


.paymentmethod{
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-block:3rem;
  margin-top:2rem;
  
}

.paymentmethod h3{
  font-size:2rem;
}

.errormsg{
  font-size: 2.3rem ;
 flex-basis:100%;
  font-weight:500;
  margin-bottom:2rem;
}

.ermsg{
  
  color:#f30008;
}
.sucmsg{
  color:#34db98;
  font-weight:bold;
}

.logout{
  color:#fe9c00;
  
background:linear-gradient(45deg, #cc88bb 0%,#e6683c 25%,#de789b 50%,#3498db 75%,#cc88de 100%);
-webkit-background-clip:  text;
-webkit-text-fill-color: transparent;
   
  font-weight:bold;
}
   
  /* edit profile css  */
  
  #editprofile{
    width:100vw;
    min-height:100%;
    background:#fdfdfd;
    position:absolute;
    top:10%;
    padding:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
  
  #editprofile {
    padding:2rem;
    width:100vw;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
  }
  
  #editprofile .details {
    width:93vw;
    display:flex;
    justify-content:space-around;
    align-items:left;
    flex-basis:100%;
    flex-direction: column;
    padding-left:1rem;
    font-size:3rem;
   margin-bottom:2rem;
  }
  
  
  #editprofile .details .profile{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:2rem;
  }
  
  #editprofile .profile img{
   box-shadow: 0 0 .2rem .1rem rgba(0,0,0,.2);
    width:18rem;
    height:18rem;
    object-fit:cover;
    border-radius:50%;
  }
 
 
 #editprofile .details h3{
   font-size:2.3rem;
   font-weight:500;
   margin-bottom:2rem;
 } 
#editprofile .details label{
  color:#656565;
  font-size:2.4rem;
  margin-bottom:1rem;
  font-weight:400;
}

#editprofile   .details input{
  
  font-size:2.7rem;
  flex-basis:100%;
  width:100%;
  background:#fcfcfc;
  color:#303030;
  padding:1.5rem;
  border-radius:.7rem;
  border:none;
  outline:none;
  margin-top:1rem;
  border:.2rem solid #555;
}






.editprofilepage label  , .editpassword_link{
  text-decoration: underline;
}




.editpassword_link {
  color:#343434!important;
  font-weight:bold!important;
  margin-top:2rem;
  
  background:rgba(220, 220 , 220, .5);

background:linear-gradient(45deg, #cc88bb 10%,#e6683c 25%,#de789b 50%,#3498db 75%,#cc88de 100%);
-webkit-background-clip:  text;
-webkit-text-fill-color: transparent;
    
    font-weight:bold;
  
  
}

.passwordchange_dashboard , .delete_account_dashboard{
  position:absolute;
  top:12%;
  left:0;
  width:100vw;
  height:100vh;
  background:#fbfbfb;
}

.passwordchange_dashboard main , .delete_account_dashboard main{
  margin-top:5rem;
   padding:2rem;
   
}

.passwordchange_dashboard form , .delete_account_dashboard form{
 margin-top:5rem;
}

.passwordchange_dashboard  .details ,
.delete_account_dashboard .details{
  margin-bottom:2rem;
   padding:1rem;
}


.checkvalidpass  , .check_delete_valid{
  margin-top:5rem;
}



.checkvalidpass button {
  

  background:rgba(220, 220 , 220, .5);
box-shadow: 0 0 .2rem .1rem rgba(0,0,0,.2);
 
background:linear-gradient(45deg, #cc88bb 0%,#e6683c 25%,#de789b 50%,#3498db 75%,#cc88de 100%);
-webkit-background-clip:  text;
-webkit-text-fill-color: transparent;
    
    font-weight:bold;
  
}
.checkvalidpass button , .check_delete_valid button {
  padding:2rem;
  border:none;
  outline:none;
  font-size:2.8rem;
  text-transform:uppercase;
 
  
}


.check_delete_valid button{
  color:#656565;
}



.checkvalidpass button:active , .check_delete_valid button:active{
  transform:scale(.77);
}

#delete_account {
  margin-top:10rem;
  padding:2rem;
  border-radius:.8rem;
  border:none;
  outline:none;
  color:#232323;
  text-transform:uppercase;
  background:#ce4c3c;
  color:#f9f9f9;
}

#delete_account:active{
  transform: scale(.88);
}
  