 *{
               margin:0;
                padding:0;
                box-sizing:border-box;
           }
            
            body{
                min-height:100vh;
            }
            html{
                font-size:62.5%;
                font-family:Arial;
              user-select:none;
                scroll-behavior:smooth;
               
            }
            
            
            main{width:100vw;
                min-height:100vh;
               
             
                overflow: hidden;
            }
                
            
            header{
                width:100%;
                height:20vh;
                display:flex;
                justify-content:space-around;
          align-items:center;
          padding:2rem;
         position:sticky;
         top:0;
         background:#f8f8f8;
         z-index:100;
 }   
 
 
 .brand_logo{
     width:30%;
     font-size:4.8rem;
     display:flex;
     align-items:center;
     font-weight:bold;
background:linear-gradient(45deg, #cc88bb 0%,#e6683c 25%,#de789b 50%,#3498db 75%,#cc88de 100%);
-webkit-background-clip:  text;
-webkit-text-fill-color: transparent;
font-family:Georgia;
letter-spacing:-.4rem;
    
 }
  
 
 

 header nav{
     width:60%;
     display:flex;
     justify-content:space-around;
     align-items:center;
    font-size:1.8rem;
    text-transform:uppercase;
 }
 
 header nav a{
     position:relative;
 }
 
 
 .homeanchor{
     font-weight:bold;
 }
 
 header nav a:hover{
     font-size:2.2rem;
    font-weight:bold;
 }
 
 header nav a::before{
     content:'';
     position:absolute;
     bottom:0;
     border: .1rem solid #db98db;
     width:0;
     transition:all .2s linear;
     opacity:0;
 }
 
 header nav a:hover::before{
     width:75%;
     opacity:1;
 }
 
 .video-responsive{
     width:100%;
    
     display: flex;
     justify-content: space-around;
     align-items: center;
     /*background:rgba(0,120,102, 2);*/ 
     /*background:rgba(122,23,01,.2);*/
     background:rgba(12,23,01,.2);
 }
     
     video{ width:100%;
          height:400px;
         object-fit:cover!important;
         transform: scale(3);
         filter: grayscale(90%);
         transform: scale(.88);
         opacity:.8;
     }
 
    
       
       .submitBtn:active{
           transform:scale(.89);
       }
       
       .fa-bars{
           display:none;
       }
       
       .mobile-nav{
           display:none;
       }
       
       
       .slidernavbar{
           display:block;
       }
       
       .slida{
            display:flex!important;
       }
      
  
      .form_tittle{
          font-size:4rem;
          padding:2rem;
          height:20vh;
          color:#db3434;
         
        
      }
      

      .formdesign{
         
          width:100vw;
          padding:5rem;
          background:#fff;
          height:100%;
          
      }
      
      .details{
          width:100%;
         display:flex; 
         justify-content:space-around;
         align-items:center;
       
      }
   
   .details label{
       font-size:2rem;
       margin-top:5rem;
       font-weight:bold!important;
   }
   
   
   .details input{
       width:40%;
       padding:.5rem;
       margin-top:2rem;
       font-size:3rem;
       background:none;
       border:none;
       outline:none;
       border-bottom:.1rem solid #000;
       font-weight:400!important;
       transform: translateX(5rem);
   }
    
    .details input::placeholder{
        font-size:2.5rem!important;
        position:absolute; 
        bottom:0%;
        right:25%;
    } 
    
  .loginpage{
 padding-block:5rem;
  background:#222!important;
  display:flex;
  color: #fff!important;
  justify-content:center;
  align-items:center;
  flex-direction:column;
 
}

.loginpage label , .loginpage input::placeholder{
    color: #fff;
}

 .loginpage .form_tittle , .loginpage label{
     color: #f8f8f8;
 }
 .loginbtn{
    background:#3498db!important;
    color: #fff;
    font-weight:bold!important;
    font-size:1rem;
}

.loginpage .details{
    transform: translateX(-5rem);
}

.loginpage form{
    width:100%;
    
}

    
    .btn , .loginbtn {width:20rem;
        padding:2rem;
        margin-top:5rem;
        margin-left:1rem;
        font-size:2rem;
        display:flex;
        justify-content:center;
        align-items:center;
        outline:none;
        border:none;
        border-radius:.5rem;
    }
    
    .btn:hover{
        background:#23bd99;
        color:#fff;
    }
    
    
    #footerbar{
        
        width:100%;
       
        background:#000;
        color:#f8f8f8;
        position:sticky;
        top:100%!important;
       
        padding:2rem;
        text-transform:capitalize;
        display:flex;
        justify-content:center;
        align-items:center;
        }
   
    
    .socialicons{
        font-size:2rem;
        padding:2rem;
        display:flex;
        justify-content:space-around;
        align-items:center;
    }
    
    .fab {
        padding:1rem;
    }
       
.error{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:1.3rem;
    transform:translateY( 1rem );
    position: absolute;
    left: 35%; 
    font-weight:bold;
    color:#f4000c;
}    

.name , .mail , .phone, .pass , .match{
     display:none!important;
}
    
    .display{
        display:block!important;
    }  

      .section2{
          width:100vw;
          padding:2rem;
          background:#fff;
          display:flex;
          justify-content:center;
          align-items:center;
          margin-top:2rem;
       
      }    
    

    
@media screen and (max-width: 768px) {
    html{
     font-size:40%!important;
     min-height:100%;
 }
 
 
.error{

    font-size:2rem;
    transform:translate(10rem ,-1.9rem);
  
 
}  
 
 video{
     width:400px;
     height:400px;
 }
 
 


 
 
 .brand_logo{
     width:auto;
     margin-left:auto;
     display:flex;
     justify-content:center;
     align-items:center;
 }
 

header nav { 
    position:absolute;
 top:0;
 left:0;
     width:50%;
    height:100vh;
    background:#f3f3f3;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    display:none;
    
    transition:all 2s linear!important;
 }
 
 

 
header nav a{
     display:none;
 }
 
 
 

 .mobile-nav{
     position:absolute;
     top:80%;
     left:5%;
     display:block;
     display:flex;
     justify-content:space-around;
    
     flex-direction:column;
     font-size:2.2rem;
     display:none;
 }
 
 .mobile-nav a{
     padding:1.2rem;
     
 }
 
 .mobile-nav a:hover{
     font-weight:bold;
 }

 .fa-bars{
     font-size:3rem;
     display:block;
     padding:2rem;
     position:absolute;
     left:5%;
     z-index:1000;
 }
    
    

      .section2{
          width:100vw;
         
          background:#fff;
          display:flex;
          justify-content:center;
          align-items:center;
          margin-top:2rem;
       
      }  
 

   

   
   
   .form_tittle{
       margin-bottom:-10rem;
   }
   .details{
          width:85%;
         display:flex; 
         justify-content:space-around;
         align-items:center;
        margin-top:1rem;
         flex-direction:column;
      }
      
      
   
   .details label {
       font-size:2.2rem;
       margin-top:4rem;
       font-weight:bold!important;
        transform:translateX(-17rem);
   }
   
   .loginpage label{
       font-weight:300;
       color:#f9f9f9;
   }
  

  
   .details input{
       width:100%;
       padding:1.5rem;
       margin-top:2rem;
       font-size:2.4rem;
       border-radius:.5rem;
       border: .2rem solid #000;
       
       font-weight:bold;
   }
   
   



    

    
    
    .details input::placeholder{
        font-size:2rem!important;
        position:absolute; 
         top:25%;
        left:5%;
        
    } 
    
    
    .btn , {width:20rem;
        padding:2rem;
        margin-top:5rem;
        margin-left:1rem;
        font-size:2rem;
        display:flex;
        justify-content:center;
        align-items:center;
        outline:none;
        border:none;
        border-radius:.5rem;
    }
    

  
    .btn:hover{
        background:#23bd99;
        color:#fff;
    }
    
 
    
    #footerbar{
        height:10vh;
       
    }
    
    .socialicons{
        font-size:1.5rem;
        padding:2rem;
        display:flex;
        justify-content:space-around;
        align-items:center;
    }
    
    .Renter{
       transform:translateX(-13rem)!important;
    }
    

    .preloader{
        font-size:2rem!important;
    }
    
    /*.preloader img{
       width:40rem;
       
       background-size:100%;
       object-fit: content;
       position:absolute;
       transform:translate( 5rem 55rem);
    
       z-index:100;
    }
   */
    
}
  
    .succes-msg{
        width:100%;
        padding:2rem;
        margin-top:4rem;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:2rem;
        font-family:Monospace;
        color:#8c34eb;
        
    }
    
    a{  text-decoration:none;
        color:#000;
    }

   .preloader{width:100vw;
      height:100vh;
      background:#fff url('prloader/load1.gif') no-repeat center;
      background-size:55%;
     
       font-size:3rem;
       z-index:101;
     position:fixed;
       top:0!important;
    }
    
    
    .alreadyAcc {
      width:100%;
      padding:1rem;
     margin-top:5rem;
    }
    
    .alreadyAcc h3{
      color:#909090;
      font-weight:500;
     font-size:2.3rem;
    }
    
    .alreadyAcc a{
      font-weight:bold;
background:linear-gradient(85deg, #cc88bb 0%,#e6683c 25%,#de789b 10%,#3498db 75%,#cc88de 100%);
-webkit-background-clip:  text;
-webkit-text-fill-color: transparent;
    font-size:2.7rem;
 text-decoration:underline;

    }
  
     
    
   
    